.fa-invest-now .ssl {
    display: none;
}
.fa-invest-now-modal.classic .ssl_inner {
    background: #0479ec;
    color: #ffffff;
    padding: 15px 0;
}
.fa-invest-now-modal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #295E06;
}
.fa-invest-now .modal-header {
    background-image: none !important;
    background-color: #295E06 !important;
    color: #FFF !important;
}
.fa-invest-now .close {
    color: #FFF !important;
    opacity: 1.0 !important;
}
.fa-invest-now .modal-footer {
    background-image: none !important;
    background-color: #000000 !important;
    border-top: none !important;
}
.fa-invest-now .btn-primary {
    background-image: none !important;
    background-color: #295E06 !important;
}
.fa-invest-now .btn-primary:hover {
    background-color: #3B6B42 !important;
}
.fa-invest-now .help {
    background-image: none !important;
    background-color: #295E06 !important;
    box-shadow: none !important;
    color: #FFF !important;
}
.fa-invest-now .btn-default {
    background-image: none !important;
}
.fa-invest-now .alert-danger {
    background-image: none !important;
}